.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  border: 10px solid #141414;
  max-width: 660px;
}

.square {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.light {
  background-color: #f0d9b5;
}

.square.dark {
  background-color: #b58863;
}

.square.target {
  background-color: #6e0000ea;
}

.square.selected {
  background-color: #164d00;
}

.legal-move {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #164d00;
}

.legal-move-enemy {
  height: 80px;
  width: 80px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legal-move-enemy.light {
  background-color: #f0d9b5;
}

.legal-move-enemy.dark {
  background-color: #b58863;
}

.mark-row, .mark-col {
  position: absolute;
  font-size: 12px;
  color: #333;
}

.mark-row {
  bottom: 2px;
  left: 4px;
}

.mark-col {
  top: 2px;
  right: 2px;
}

.mark-row.selected, .mark-col.selected {
  color: #fff;
}
