.switch-bot {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch-bot input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-bot {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider-bot:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

.input-bot:checked + .slider-bot {
  background-color: #164d00;
  border: 1px solid #164d00;
}

.input-bot:focus + .slider-bot {
  box-shadow: 0 0 1px #164d00;
}

.input-bot:checked + .slider-bot:before {
  transform: translateX(1.4em);
  background-color: #fff;
}

.container-toggle {
  display: flex;
  align-items: center;
  width: 660px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.span-bot {
  font-size: 17px;
  margin-left: 1em;
  margin-right: 1em;
  color: #adb5bd;
}